        html{
            font-size: 1em;
            font-size: 90%;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            background-color: grey;
            background: url(image/Dbars.svg) repeat-x, linear-gradient(#CBCBCB, #a8a8a8);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
        }

        .container-columns {
            display: flex;
            gap: 20px;
            font-weight: 400;
        }
        
        .column {
            display: flex;
            flex-direction: column;
            gap: 1px;
            width: 55%; 
        }
        
        .seat-pair {
            display: flex;
            justify-content: space-between;
            padding: 7px;
        }
        
        .column .seat-pair:nth-child(odd) {
            background-color: #ffc78f;
        }
        
        .column .seat-pair:nth-child(even) {
            background-color: #ffdab4;
        }
        
        .seat-pair span {
            margin-right: 10px;
        }

        body {
            height: 100vh;
            margin: 0;
            padding: 20px; 
        }

        #footer {
            margin: -10px 20px;
            float: right;
        }

        a:link  {
            color: inherit;
        }

         a:hover  {
            color: #FF7300;
        }

        a:visited  {
            color: inherit;
        }

        a:active  {
            color: #FF7300;
        }

        .container {
            text-align: left;
            background: #f2f2f2;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            max-height: 100%;
            overflow-y: auto;
            max-width: 600px;
            min-width: 280px;
            background-image: url('image/Pete.svg');
            background-repeat: no-repeat;
            background-position: 90% 10px;
            background-size: 300px;
        }

        /* Orange button with light orange hover highlight*/

        button {
          float: right;
          font-weight: 700;
          padding: 10px 20px;
          font-size: 100%;
          cursor: pointer;
          border: none;
          background-color: #e65300;
          color: white;
          border-radius: 0px;
          position: relative;
          overflow: hidden;
        }
        
        button span {
            display: inline-block;
            transition: transform 0.2s ease;
        }
        
        button::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #ff9900;
            transition: height 0.2s ease;
        }
        
        button:hover span {
            transform: translateY(-3px);
        }
        
        button:hover::after {
            height: 6px;
        }

        .result {
            margin-top: 17px;
        }

        textarea {
            width: 98%;
            height: 100px;
            margin: 5px 25px 15px 0px;
            padding: 5px;
        }

        input[type="number"] {
            width: 60px;
        }

        hr {
            border: none;
            height: 2px;
            background-color: #FF7300;
            margin: 0px;
        }

        h1 {
            margin: 0px; 
            padding: 0px;
            font-family: "Fjalla One", sans-serif;
            font-size: 300%;
            letter-spacing: 0.25px;
            text-align: left;
        }

        h2 {
            margin: 15px 0px 15px 0px; 
            padding: 0px;
            font-family: "Fjalla One", sans-serif;
            letter-spacing: 0.25px;
            font-size: 175%;
            /*font-weight: 700;*/
            letter-spacing: 0.25px;
            text-align: left;
        }

        h3 {
            margin: 0px; 
            padding: 0px;
            font-family: "Fjalla One", sans-serif;
            font-size: 130%;
            color: #444;
            letter-spacing: 0.5px;
            text-align: left;
        }

        h4 {
            font-weight: normal;
            padding: 0px;
            font-size: 80%;
            font-weight: 400;
            text-align: right;
            color: #7d7d7d;
            margin: 5px 0px 10px 0px;
        }
        
        p {
            letter-spacing: 0.25px;
            margin: 0px; 
        }

        #OEDlogo {
        aligh-self: block;
        margin: 0px 5px 0px 0px;
        float: left;
        }
